server:
  port: 8084

spring:
  datasource:
    url: jdbc:postgresql://localhost:5430/hostelService

rabbitmq:
  timeslots:
    addresses: localhost:5672
  notification-service:
    addresses: localhost:5672

otlp:
  tracing:
    export-enabled: false
    endpoint: http://localhost:4317

rest:
  base-url:
    user-service: http://localhost:8081
    notification-service: http://localhost:8085
    booking-service: http://localhost:8082

# На будущее
#server:
#  port: 8443
#  http2:
#    enabled: true
#  ssl:
#    enabled: true
#    key-store-type: PKCS12
#    key-store: "C:/Users/ilial/iCloudDrive/Documents/Сервис для общежития/SSL/keystore.p12"
#    key-store-password: changeit
#    key-alias: myservice

springdoc:
  api-docs:
    path: /api-docs
    version: OPENAPI_3_1
    enabled: true

  default-consumes-media-type: application/json
  default-produces-media-type: application/json

  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operationsSorter: >
      function(a, b) {
        const methodOrder = {
          'get': '3', 'post': '0', 'put': '1', 
          'patch': '2', 'delete': '4', 'head': '5', 
          'options': '6', 'trace': '7'
        };
        return methodOrder[b.get("method")].localeCompare(methodOrder[a.get("method")]);
      }
    tags-sorter: none
    display-request-duration: true